@import "../dashboard/dashboard.component.scss";
@import "/src/app/components/pages/dashboard/dashboard-my-profile/dashboard-my-profile.component.scss";
// @import '/src/app/components/pages/dashboard/dashboard-my-profile/dashboard-my-profile.component.scss';

.profile-box {
  max-width: 300px;
  position: relative;
  border-radius: 5px;

  img {
    border-radius: 5px;
  }

  .file-upload {
    display: inline-block;
    position: absolute;
    left: 15px;
    bottom: 15px;

    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .inputfile+label {
      color: var(--blackColor);
      background-color: var(--whiteColor);
      display: inline-block;
      margin-bottom: 0;
      transition: var(--transition);
      padding: 10px 25px 9px 48px;
      position: relative;
      border-radius: 30px;

      font: {
        size: var(--fontSize);
        weight: 600;
      }
    }

    i {
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16.5px;
      margin-top: -0.5px;
    }

    .inputfile:focus+label,
    .inputfile+label:hover {
      background-color: var(--mainColor);
      color: var(--whiteColor);
    }

    .inputfile+label {
      cursor: pointer;
    }
  }
}

:host ::ng-deep {
  .flex {
    .p-button {
      margin-top: 10px;
    }
  }

  @media (min-width: 370px) {
    .flex {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .p-button {
        margin-top: 0;
      }
    }
  }
}

.row {
  td {
    font-size: 13px;
  }

  .my-profile-box {
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
    border-radius: 5px;

    h3 {
      margin-bottom: 0;
      padding: 20px 25px 19px;
      border-bottom: 1px dashed #eeeeee;

      font: {
        size: 17px;
        weight: 600;
      }
    }

    form {
      padding: 25px;

      .row {
        margin: {
          left: -5px;
          right: -5px;
        }

        .col-lg-6,
        .col-lg-12 {
          padding: {
            left: 5px;
            right: 5px;
          }
        }
      }

      .form-group {
        margin-bottom: 20px;
        position: relative;

        label {
          display: block;
          margin-bottom: 8px;
          color: var(--blackColor);

          font: {
            size: 14px;
            weight: 500;
          }
        }

        .form-control {
          color: #808080;

          &::placeholder {
            transition: var(--transition);
            color: #808080;
          }

          &:focus {
            &::placeholder {
              color: transparent;
            }
          }
        }
      }

      button {
        display: block;
        width: 100%;
        background-color: var(--mainColor);
        color: var(--whiteColor);
        padding: 13px 30px 12.5px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        transition: var(--transition);
        border: none;

        font: {
          size: var(--fontSize);
          weight: 600;
        }

        &:hover {
          background-color: #3b99ca;
          color: var(--whiteColor);
        }
      }
    }

    .profile-box {
      max-width: 300px;
      position: relative;
      border-radius: 5px;

      img {
        border-radius: 5px;
      }

      .file-upload {
        display: inline-block;
        position: absolute;
        left: 15px;
        bottom: 15px;

        .inputfile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }

        .inputfile+label {
          color: var(--blackColor);
          background-color: var(--whiteColor);
          display: inline-block;
          margin-bottom: 0;
          transition: var(--transition);
          padding: 10px 25px 9px 48px;
          position: relative;
          border-radius: 30px;

          font: {
            size: var(--fontSize);
            weight: 600;
          }
        }

        i {
          position: absolute;
          left: 25px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 16.5px;
          margin-top: -0.5px;
        }

        .inputfile:focus+label,
        .inputfile+label:hover {
          background-color: var(--mainColor);
          color: var(--whiteColor);
        }

        .inputfile+label {
          cursor: pointer;
        }
      }
    }
  }
}

:host ::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper {
  min-height: 61vh;
}

:host ::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:host ::ng-deep .p-inputtext {
  background-color: #f9f9f9;
  height: 30px;
  width: 100%;
  font-size: 0.8rem;
}

:host ::ng-deep {
  .p-paginator .p-dropdown .p-dropdown-label {
    height: 100%;
    font-size: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .p-dropdown .p-dropdown-trigger {
    background-color: #f9f9f9 !important;
  }
}

:host {
  .add-listings-btn {
    margin-top: 0;

    button {
      padding: 2px 13px;
    }
  }
}

.form-group {
  margin-bottom: 5px;

  input {
    margin-top: 5px;
  }
}

.dialog-footer {
  border-top: 1px solid #e9ecef;
  background: #ffffff;
  color: #212529;
  padding: 1rem;
  text-align: right;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: 10px;

  button {
    margin: 0 0.3rem 0 0;
    width: auto;
    color: var(--mainColor);
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;

    &:hover {
      color: var(--mainColor);
      background-color: rgba(25, 222, 222, 0.0941176471);
      border-color: transparent;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgb(14 198 198 / 28%) !important;
    }
  }

  .add-listings-btn {

    button:disabled,
    button[disabled] {
      background-color: red !important;
    }
  }
}

button:disabled {
  // cursor: pointer;
  background-color: grey;
  // opacity: 0.5;
}

@media (max-width: 642px) {
  .theader {
    flex-direction: column;

    .search-bar {
      width: 100%;

      span {
        width: 100%;

        input {
          width: 100% !important;
        }
      }

    }
  }



  .btn-box {
    flex-direction: column;
    width: 100%;

    .add-listings-btn {
      margin-top: 5px;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}

:host .stage-status {
  .approved {
    border-radius: 30px;
    color: var(--whiteColor);
    padding: 3px 10px 3.5px;
    position: relative;
    top: -2px;
    margin-left: 2px;
    font-size: 12px;
    background-color: #64bc36;
  }

  .pending {
    border-radius: 30px;
    color: var(--whiteColor);
    padding: 3px 10px 3.5px;
    position: relative;
    top: -2px;
    margin-left: 2px;
    font-size: 12px;
    background-color: rgb(235, 70, 70);
  }

  .in-progress {
    border-radius: 30px;
    color: var(--whiteColor);
    padding: 3px 10px 3.5px;
    position: relative;
    top: -2px;
    margin-left: 2px;
    font-size: 12px;
    background-color: #e5952e;
  }

}

:host ::ng-deep {
  @media (max-width: 575px) {
    textarea {
      height: 50px;
    }

    .p-dialog {
      width: 92vw !important;
      height: 245px !important;
    }
  }

  .p-dialog .p-dialog-content {
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 642px) {
  .ml-2 {
    margin-left: 5px;
  }
}