@import "../../pages/dashboard/dashboard.component.scss";

:host ::ng-deep {
  .flex {
    .p-button {
      margin-top: 10px;
    }
  }

  @media (min-width: 370px) {
    .flex {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .p-button {
        margin-top: 0;
      }
    }
  }
}

:host ::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper {
  min-height: 56vh;
}


@media (max-width: 642px) {
  .theader {
    flex-direction: column;
  }

  .input {
    width: 100%;
  }

  .search-bar {
    width: 100%;

    span {
      width: 100%;
    }
  }

  .add {
    margin-top: 5px;
    width: 100%;

    button {
      width: 100%;
    }
  }

}

:host ::ng-deep {

  .p-button {
    width: 100%;
  }
}