<p-toast
    [breakpoints]="{'575px': {width: '100%', right: '0', left: '0', display: 'flex', 'justify-content': 'center', 'align-items': 'center', 'flex-direction': 'column'}}">
</p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>


<ng-container *ngIf="!previewCheck">
    <app-dashboard-sidemenu></app-dashboard-sidemenu>
</ng-container>

<!-- ********************** Main Content ******************** -->

<div class="main-content d-flex flex-column" *ngIf="previewCheck == false">

    <!-- <app-dashboard-navbar></app-dashboard-navbar> -->
    <ng-container *ngIf="!previewCheck">
        <app-navbar-style-one></app-navbar-style-one>
    </ng-container>

    <!-- ********************** Breadcrumb Area  ******************** -->

    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <!-- <li class="item"><a routerLink="/dashboard">{{Content.subTitle}}</a></li> -->
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <div class="add-listings-box" *ngIf="sections.length > 0">
        <div class="heading">
            <img src="assets/img/ucci-awards-logo.png" alt="">
            <h2>{{title}} {{nextYear}} / {{hindiTitle}} {{nextYear}}</h2>
            <p> Please complete the form below and provide details of your business and company.
                कृपया निम्नलिखित फार्म को पूरा भरें तथा अपने व्यवसाय एवं कम्पनी के विषय में जानकारी देवे:</p>
        </div>

        <ng-container *ngIf="!previewCheck">
            <lib-renderer [sections]="sections" (sectionsData)="getFormResponse($event)"></lib-renderer>

            <!-- <button></button> -->
        </ng-container>
    </div>
    <!-- <button (click)="getExcelFromJson()">get excel</button> -->
    <!-- <lib-form-builder [buttonFields]="buttonFields" (formJson)="getJson($event)"></lib-form-builder> -->
    <!-- <lib-form-renderer *ngIf="jsonData" [jsonFormData]="jsonData"></lib-form-renderer> -->
    <!-- ********************** End Breadcrumb Area  ******************** -->

</div>


<ng-container *ngIf="previewCheck">
    <div class="add-listings-box" *ngIf="sections.length > 0">
        <div class="heading">
            <img src="assets/img/ucci-awards-logo.png" alt="">
            <h2>{{title}} {{nextYear}} / {{hindiTitle}} {{nextYear}}</h2>
            <!-- <p> Please complete the form below and provide details of your business and company.
                कृपया निम्नलिखित फार्म को पूरा भरें तथा अपने व्यवसाय एवं कम्पनी के विषय में जानकारी देवे:</p> -->
        </div>

        <p-button type="button" (click)="previewCheck = false" icon="bx bx-arrow-back" label="" iconPos="left">
        </p-button><br>
        <div class="preview">
            <ng-container *ngFor="let section of sections">
                <ng-container *ngFor="let control of section.controls; let i = index">
                    <div *ngIf="i === 0" class="section-heading">
                        <span>{{control.label}}</span>
                    </div>
                    <div class="group">
                        <label for="" *ngIf="i !== 0" class="label">{{control.label}}</label>
                        <ng-container *ngIf="control.name !='table'">
                            <span class="form-control" *ngIf="!(control.name == 'label')">👉
                                &nbsp;{{control.value != '' ? control.value : '-'}}</span>
                        </ng-container>
                    </div>
                    <ng-contaier *ngIf="control.name =='table'">
                        <table>
                            <thead>
                                <tr>
                                    <ng-container *ngFor="let colHead of control.columns">
                                        <th>
                                            {{colHead.label}}
                                        </th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let tableRow of control.rows">
                                    <tr>
                                        <ng-container *ngFor="let tableCol of tableRow">
                                            <td *ngIf="!(tableCol.name == 'label')">
                                                <span class="form-control" *ngIf="tableCol.value != ''">{{
                                                    tableCol.value }}</span>
                                                <span class="form-control" *ngIf="tableCol.value == ''"
                                                    style="display: flex; justify-content: center; align-items: center;">-</span>

                                            </td>

                                            <td *ngIf="(tableCol.name == 'label')" style="background-color: #f9f9f9;">
                                                <label for="">{{tableCol.label}}</label>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </ng-contaier>
                    <!-- <br> -->
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>
